* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #D9CDF7;
  --text-color: #271A45;
}

body {
  background-color: var(--bg-color);
  height: 100vh;

  display: grid;
  place-content: center;
}

body * {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  line-height: 100%;
}

#btn-close,
#animated {
  display: none;
}

#app {
  display: flex;
  align-items: center;
  gap: 4rem;
}

#product-image {
  position: relative;
}

#product-image button {
  position: absolute;
  right: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

html.animated button#btn-360,
html.animated img#static {
  display: none;
}

html.animated button#btn-close,
html.animated img#animated {
  display: initial;
}

#product-image > img {
  width: 28.125rem;
  height: 13.875rem;
  object-fit: cover;
}

h4 {
  font-weight: 300;
  font-size: 0.625rem;
}

h1 {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  font-size: 2rem;

  margin-top: 0.75rem;
}

p {
  margin-top: 0.75rem;
  opacity: 0.7;
}

#product-details button {
  font-size: 0.75rem;
  line-height: 1rem;

  padding: 0.5rem 1rem;
  border: 0.031rem solid var(--text-color);
  border-radius: 50rem;

  background-color: transparent;

  margin-top: 1.25rem;
}