* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

:root {
  /* font-size: 62.5%; */
}

body {
  background: url("../assets/background.png") no-repeat center center/cover;

  font-family: "Outfit", sans-serif;
}

#app,
body {
  height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 10rem;
}

main {
  color: #06d6f2;
  max-width: 23.75rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 120%;
}

p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 140%;
}

.button-wrapper {
  margin-top: 3.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;

  background: #151557;
  border-radius: 62rem;

  color: #e2e2f5;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.btn:hover {
  background: #212187;
}

aside {
    display: flex;
    align-items: center;

}